
.navbarContent {
// 컨테이너 내용의 스타일을 정의
display: flex;
justify-content: space-between;
align-items: center;
}

.brand > img {
// margin-left: 1cqi;
height: 100%;
}

.navLinks {
// 네비게이션 링크들의 스타일을 정의합니다.
display: flex;
justify-content: flex-end; // 오른쪽 정렬
align-items: center;
}

.navLinks a {
margin-left: 10px; // 각 링크들 사이의 간격을 주기 위해 왼쪽 마진을 줍니다.
color: white;
text-decoration: none;
}
