.pagination {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.quest-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  border-radius: 10px ;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);


.quest-section {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  h1{
    font-size: 35px;
    font-weight: bold;
    margin: 20px auto;
    padding-top: 20px;
  }
}

.quest-input{
    width:40vh;
		background: #f0f0f0;
		color: #0a5500;
		border: 0;
		outline: 0;
    height: 50px;
    padding-left: 15px;
    border-radius: 30px 0 0 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
.btnQ {
	display: inline-block;
	background: #1c5222;
	color: #fff;
  border: 0;
  height: 50px;
  padding: 0 20px 0 18px;
  border-radius: 0 30px 30px 0; 
  font-size: 20px;
}

.quest-tm {
  width: 100%;
  min-height: 100px;
  background-color:  rgb(220, 233, 224);
  // border: 3px solid #1c5222;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.quest-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  overflow-y: auto;
  white-space: normal;
  overflow-wrap: break-word;
  
  .question {
    width: 100%;
    font-size: 28px;
  }
  .resister_date {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: -8px;
  }
}
.quest-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .iconify {
    margin-left: 10px;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
  }
}
.center-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  font-size: 20px;
  Icon {
    margin: 0 10px;
  }
}
.audioStop{
  border-radius: 10px;
}
.audiodiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}