@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0; /* body의 기본 마진 제거 */
  padding: 0; /* body의 기본 패딩 제거 */
  height: 100vh; /* body의 높이를 뷰포트 높이로 설정 */
  background-image: linear-gradient(to right, white, white);
  /* background-color: white; */
  font-family: 'Pretendard-Regular';
  }
#root {
  height: 100%;
}