.checkQuest{
  background-color: rgb(64, 178, 114);
  
}

.checkQuest > * {
  color: white;
}
.audioControl{
  font-weight: bolder;
  border-radius : 7px;
  margin-left: 15px;
  background-color: white;
  border: 0.1rem solid rgb(234, 89, 41);
}